#copyButton, #helpMessage {
    -fx-text-fill: black;
}

#copyButton {
    -fx-background-color: #b7c6e7;
}

#copyButton:hover {
    -fx-background-color: #e5edff;
}

#copyButton:armed {
    -fx-background-color: #3e4772;
}

#helpMessageContainer {
    -fx-background-color: derive(#ffffff, 20%);
}
